/* Reset CSS */
html, body {
    height: 100%;
    background-color: #FEFCFD;
}


ul {
    list-style-type: none;
}


a:visited, a:link, a:active {
    text-decoration: none
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form, input {
    outline: none;
}

